streamlit
langchain
langchain-community
langchain_google_genai
transformers 
torch 
pillow
SpeechRecognition
pyaudio
langchain.prompts
langchain.chains
google-search-results
langchain-google-genai
accelerator
